# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env*

# Build
/public
.DS_Store

# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json

# Hidden files
.cache/
.env
