abbr, address, article, aside, audio, b, blockquote, body, body div, caption, cite, code, dd, del, details, dfn, dl, dt, em, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

article, aside, details, figure, footer, header, nav, section, summary {
    display: block
}

embed, img, object {
    max-width: 100%
}

html {
    overflow-y: scroll
}

ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    text-decoration: none;
    color: #ffffff;
    position: relative;
}

del {
    text-decoration: line-through
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th {
    font-weight: 700;
    vertical-align: bottom
}

td {
    font-weight: 400
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input, select {
    vertical-align: middle
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word
}

input[type=radio] {
    vertical-align: text-bottom
}

input[type=checkbox] {
    vertical-align: bottom
}

.ie7 input[type=checkbox] {
    vertical-align: baseline
}

.ie6 input {
    vertical-align: text-bottom
}

input, select, textarea {
    font: 99% sans-serif
}

table {
    font-size: 100%;
}

small {
    font-size: 85%
}

strong {
    font-weight: 700
}

td, td img {
    vertical-align: top
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

code, kbd, pre, samp {
    font-family: monospace, sans-serif
}

.clickable, button, input[type=button], input[type=file], input[type=submit], label {
    cursor: pointer
}

button, input, select, textarea {
    margin: 0
}

button, input[type=button] {
    width: auto;
    overflow: visible
}

.ie7 img {
    -ms-interpolation-mode: bicubic
}

.clearfix:after, .clearfix:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom: 1
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.chromeframe {
    position: absolute;
    top: 0
}

body {
    font: 13px Roboto, Freesans, sans-serif
}

body, html {
    background: #fff
}

body, input, select, textarea {
    color: #2c2223
}

a {
    color: #ffffff;
}

a:hover {
    color: #69f
}

::-moz-selection {
    background: #3584d8;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #3584d8;
    color: #fff;
    text-shadow: none
}

a:link {
    -webkit-tap-highlight-color: #ffffff
}

ins {
    background-color: #fcd700;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #fcd700;
    color: #000;
    font-style: italic;
    font-weight: 700
}

::-webkit-input-placeholder {
    color: #aaa
}

::-moz-placeholder {
    color: #aaa
}

:-ms-input-placeholder {
    color: #aaa
}

:-moz-placeholder {
    color: #aaa
}

* {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease
}

section {
    width: 100%;
    padding: 40px 0;
    float: left;
    clear: both
}

.center {
    margin: 0 auto;
    width: 90%;
    text-align: center
}

@media only screen and (min-width: 1000px) {
    .center {
        width: 960px
    }
}

.h1 {
    font-size: 3.5em
}
.my-name {
     font-weight: 500;
     font-size: 2.2em
 }

.h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 400;
    color: #666
}

.h3 {
    font-size: 1.6em;
    font-weight: 400
}

.sh1 {
    font-size: 1.6em;
    font-weight: 700;
    margin: 10px auto 20px
}

.hr {
    width: 50px;
    height: 4px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin: 0 auto 60px;
    background: #e4e4e4
}

.hr.orange {
    height: 2px;
    margin-bottom: 20px;
    width: 60%
}

.hr.dark {
    background: #999
}

/*--------Mobile Nav Bar---------*/
.modal {
    position: fixed;
    /*z-index: -1;*/
    right: 0;
    /*top: -10px;*/
    height: 50%;
    width: 300px;
    background: #444;
    -webkit-box-shadow: 1px 0 4px #333 inset;
    box-shadow: 1px 0 4px #333 inset
}
.modal .closeModal {
    position: absolute;
    /*top: 8px;*/
    right: 155px;
    color: #585757;
    font-size: 3em;
    border: 2px solid;
    padding: 2%;
    -webkit-border-radius: 45px;
    border-radius: 45px;
    cursor: pointer
}

.modal nav.mobile {
    top: -20px;
    color: #fff;
    position: absolute;
    right: 0;
    width: 150px
}

.modal nav.mobile .nav {
    float: right;
    width: 100%;
    text-align: right
}

.modal nav.mobile .nav .navItem {
    padding: 12px;
    font-size: 1.6em;
    border-bottom: 1px solid #999;
    cursor: pointer
}
/*--------End Mobile Nav Bar---------*/

/*-------Main Body Top bar----------*/

/*-------Body Grid----------*/
.wrapper {
    position: relative;
    width: 100%;
    z-index: 4;
    float: left;
    background: #fff;
    -webkit-transition: left .4s ease;
    -moz-transition: left .4s ease;
    -o-transition: left .4s ease;
    -ms-transition: left .4s ease;
    transition: left .4s ease
}

.wrapper.nav-open {
    left: -235px
}

@media only screen and (min-width: 850px) {
    .wrapper {
        left: 0 !important
    }
}
/*-------End Body Grid----------*/

/*-------Header bar------------*/
.header {
    width: 100%;
    float: left;
    height: 75px;
    background: #f8f8f8;
    border: 1px solid #e4e4e4;
    z-index: 10;
    -webkit-transition: left .4s ease;
    -moz-transition: left .4s ease;
    -o-transition: left .4s ease;
    -ms-transition: left .4s ease;
    transition: left .4s ease;
    position: fixed
}

.header.nav-open {
    left: -235px
}

/*mobile size*/
@media only screen and (min-width: 850px) {
    .header {
        position: fixed
    }
}

@media only screen and (min-width: 1450px) {
    .header .inner {
        width: 1400px;
        margin: 0 auto
    }
}


/*---------Header Logo-----------*/
.header .logo {
    float: left;
    text-align: left;
    color: #333;
    cursor: pointer
}

@media only screen and (min-width: 850px) {
    .header .logo {
        width: 40%
    }
}

.header .logo .nLogoWrapper {
    width: 90px;
    height: 80px;
    float: left
}

.header .logo .nLogo {
    border: 1px ;
    padding: 5% ;
    -webkit-border-radius: 45px;
    border-radius: 45px;
    float: left;
    font-size: 3em;
    cursor: pointer;
    margin: -20px 10px
}

.header .logo .home {
    margin-top: 20px;
    float: left;
    font-size: 1.6em;
    font-weight: 700;
}
/*---------End Header Logo-----------*/

/*----------Header Nav Bar----------*/
.header .nav {
    float: right;
    width: 35%;
    display: none
}

@media only screen and (min-width: 850px) {
    .header .nav {
        display: block
    }
}

.header .nav .navItem {
    float: left;
    padding: 20px 0 10px 10px;
    color: #8d8d8d;
    width: 25%;
    cursor: pointer;
    text-align: right;
    font-size: 1.4em;
    font-weight: 700
}

.header .nav .navItem:hover {
    color: #333
}
/*----------End Header Nav Bar----------*/

/*----------- 3 Dots --------------------*/
.header .hamburger {
    float: right;
    width: 85px;
    padding: 25px 0;
    cursor: pointer
}

@media only screen and (min-width: 850px) {
    .header .hamburger {
        display: none
    }
}

.header .hamburger .bun {
    float: left;
    height: 12px;
    width: 12px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-left: 2px;
    border: 2px solid #2d2d2d
}
/*-----------End 3 Dots --------*/
/*-------------End Header-----------------*/

/*-------------Dark Top------------------*/
.top {
    width: 100%;
    padding: 65px 0;
    clear: both;
    text-align: center;
    background: #242424;
    margin-top: 75px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none
}


/*-----Text ------*/
.top .h1, .top .h3 {
    color: #aaaaaa;
    margin: 20px auto 0;
    width: 100%
}



/*------Text block------*/

@media only screen and (min-width: 750px) {
    .top .h1, .top .h3 {
        width: 85%
    }
}

/*------Image------*/
.top .gravatarHeight {
    height: 150px
}
/*----Image Wrapper------*/
.top .gravatarWrapper {
    -webkit-border-radius: 100px;
    border-radius: 100px;
    overflow: hidden;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    -webkit-animation: gravatar 1s linear;
    -moz-animation: gravatar 1s linear;
    -o-animation: gravatar 1s linear;
    -ms-animation: gravatar 1s linear;
    animation: gravatar 1s linear
}

/*-------------End Dark Top-----------------*/


/*-------------Skills-----------------*/
/*-------------Box-----------------*/
.skills .skillBox {
    border: 1px solid #e4e4e4;
    width: 100%;
    margin: 0 auto 15px;
    padding: 12px 8px 20px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fcfcfc;
    line-height: 1.5em
}
/*-------------Box 450 px screen -----------------*/
@media only screen and (min-width: 450px) {
    .skills .skillBox {
        width: 75%
    }
}
/*-------------Box 750 px screen -----------------*/
@media only screen and (min-width: 750px) {
    .skills .skillBox {
        float: left;
        min-height: 350px;
        width: 30%;
        margin-left: 2.5%
    }
}

/*-------------Box text -----------------*/
.skills .skillBox .skill, .skills .skillBox .skill1, .skills .skillBox .skill2 {
    font-size: 1.2em;
    margin-bottom: 10px
}

.skills .skillBox .skill1 {
    font-size: 2em
}

.skills .skillBox .skill2 {
    font-size: 1.6em
}

.skills .skillBox .skillSvg {
    height: 32px;
    margin-top: 10px
}

/*-------------End Skill -----------------*/

/*-------------Works -----------------*/
.work {
    background: #ebf0f1;
    width: 100%
}

.work .center {
    width: 100%
}

/*-------------Work 920px screen -----------------*/
@media only screen and (min-width: 920px) {
    .work .center {
        width: 90%
    }
}
/*-------------Work 1000px screen -----------------*/
@media only screen and (min-width: 1000px) {
    .work .center {
        width: 960px
    }
}
/*-------------WorkSection Display -----------------*/
.workSection {
    width: 100%;
    clear: both;
    margin: 0 auto 100px;
    position: relative
}
/*------------- Hidden *** and X -----------------*/
.workSection .hamburger {
    width: 75px;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -ms-filter: "alpha(Opacity=0)";
    filter: alpha(opacity=0);
    z-index: 4
}
/*------------- Screen 850px -----------------*/
@media only screen and (max-width: 850px) {
    .workSection .hamburger {
        display: none
    }
}
/*------------- 3Dots -----------------*/
.workSection .hamburger .bun {
    float: left;
    height: 12px;
    width: 12px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-left: 2px;
    border: 2px solid #242424
}
/*------------- X -----------------*/
.workSection .close {
    opacity: 0;
    -ms-filter: "alpha(Opacity=0)";
    filter: alpha(opacity=0);
    font-size: 3em;
    width: 50px;
    margin-top: -20px;
    position: absolute;
    color: #242424;
    z-index: 4;
    cursor: pointer
}

/*-------------WorkSection information -----------------*/
.workSection .show-more {
    position: absolute;
    top: 0;
    left: 0;
    bottom: -25px;
    right: 0;
    background: #ebf0f1;
    opacity: 0;
    -ms-filter: "alpha(Opacity=0)";
    filter: alpha(opacity=0);
    border-bottom: 2px solid #e4e4e4
}
/*-------------WorkSection information -----------------*/
.workSection .show-more .detail-header {
    font-size: 3em;
    margin-bottom: 20px
}

.workSection .show-more .detail-body {
    color: #777;
    font-size: 1.2em
}

.workSection .show-more .detail-body p {
    max-width: 600px;
    margin: 0 auto 30px
}

.workSection .show-more .detail-body .detail-body-inner {
    position: relative
}

.workSection .show-more .detail-body .detail-body-inner:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both
}

.workSection .show-more .detail-body .detail-body-inner .list {
    float: left;
    width: 50%;
    border-right: 2px solid #e4e4e4
}

.workSection .show-more .detail-body .detail-body-inner a {
    color: #242424;
    font-size: 1.2em;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

@media only screen and (min-width: 640px) {
    .workSection .show-more .detail-body .detail-body-inner a:hover {
        text-decoration: underline
    }
}

@media only screen and (min-width: 640px) {
    .workSection {
        width: 600px
    }
}

@media only screen and (min-width: 920px) {
    .workSection {
        width: 100%;
        float: left
    }
}

.workSection.showing-more .hamburger {
    opacity: 0;
    -ms-filter: "alpha(Opacity=0)";
    filter: alpha(opacity=0)
}

.workSection.showing-more .close {
    opacity: 1;
    -ms-filter: none;
    filter: none
}

.workSection.showing-more .show-more {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    z-index: 1
}

.workSection:not(.showing-more):hover .hamburger {
    opacity: 1;
    -ms-filter: none;
    filter: none
}

.workSectionExample {
    clear: both
}

@media only screen and (min-width: 920px) {
    .workSectionExample {
        clear: none
    }
}

.workSectionExample .iPhone {
    margin: 0 auto
}

@media only screen and (min-width: 640px) {
    .workSectionExample .iPhone {
        position: absolute
    }
}

.workSectionExample .iPad, .workSectionExample .macBookPro {
    display: none
}

@media only screen and (min-width: 640px) {
    .workSectionExample .iPad, .workSectionExample .macBookPro {
        display: block
    }
}

.workSectionInfo {
    margin-bottom: 40px
}

@media only screen and (min-width: 920px) {
    .workSectionInfo {
        font-size: .7em;
        margin-bottom: 0
    }
}

@media only screen and (min-width: 990px) {
    .workSectionInfo {
        font-size: 1em
    }
}

.workSectionInfo a {
    font-size: 1.4em;
    text-decoration: none;
    color: #777
}

.workSectionHeader {
    font-size: 6em
}

@media only screen and (min-width: 920px) {
    .workSectionHeader {
        margin-top: 110px
    }
}

@media only screen and (min-width: 920px) {
    .work #finance .workSectionInfo {
        float: left
    }
}

.work #POS .workSectionExample {
    position: relative
}

@media only screen and (min-width: 920px) {
    .work #POS .workSectionExample {
        float: right
    }
}

.work #POS .workSectionExample .macBookPro {
    /*background: url(../images/timyoMacBookPro.jpg) center 0 no-repeat;*/
    width: 600px;
    height: 311px
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
    .work #POS .workSectionExample .macBookPro {
        /*background-image: url(../images/timyoMacBookPro@2x.jpg);*/
        -webkit-background-size: 600px 311px;
        -moz-background-size: 600px 311px;
        background-size: 600px 311px
    }
}

.work #POS .workSectionExample .iPhone {
    /*background: url(../images/timyoIphoneLg.jpg) center 0 no-repeat;*/
    width: 267px;
    height: 560px;
    top: 50px;
    right: 0
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
    .work #POS .workSectionExample .iPhone {
        /*background-image: url(../images/timyoIphoneLg@2x.jpg);*/
        -webkit-background-size: 267px 560px;
        -moz-background-size: 267px 560px;
        background-size: 267px 560px
    }
}

@media only screen and (min-width: 640px) {
    .work #POS .workSectionExample .iPhone {
        /*background-image: url(../images/timyoIphone.png);*/
        -webkit-background-size: 133px 280px;
        -moz-background-size: 133px 280px;
        background-size: 133px 280px;
        height: 280px;
        width: 133px
    }

    @media all and (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
        .work #POS .workSectionExample .iPhone {
            /*background-image: url(../images/timyoIphone@2x.png);*/
            -webkit-background-size: 133px 280px;
            -moz-background-size: 133px 280px;
            background-size: 133px 280px
        }
    }
}

.work #finance .workSection .hamburger {
    right: 0
}

.work #finance .workSection .close {
    right: 28px
}

@media only screen and (min-width: 920px) {
    .work #finance .workSectionInfo {
        float: right
    }
}

.work #finance .workSectionExample {
    position: relative
}

@media only screen and (min-width: 920px) {
    .work #finance .workSectionExample {
        float: left
    }
}

.work #finance .workSectionExample .macBookPro {
    /*background: url(../images/gigsterMacBookPro.jpg) center 0 no-repeat;*/
    width: 600px;
    height: 311px
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
    .work #finance .workSectionExample .macBookPro {
        /*background-image: url(../images/gigsterMacBookPro@2x.jpg);*/
        -webkit-background-size: 600px 311px;
        -moz-background-size: 600px 311px;
        background-size: 600px 311px
    }
}

.work #finance .workSectionExample .iPhone {
    /*background: url(../images/gigsterIphoneLg.jpg);*/
    width: 267px;
    height: 560px;
    top: 50px;
    left: 0
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
    .work #finance .workSectionExample .iPhone {
        /*background: url(../images/gigsterIphoneLg@2x.jpg);*/
        -webkit-background-size: 267px 560px;
        -moz-background-size: 267px 560px;
        background-size: 267px 560px
    }
}

@media only screen and (min-width: 640px) {
    .work #finance .workSectionExample .iPhone {
        /*background: url(../images/gigsterIphone.png);*/
        -webkit-background-size: 133px 280px;
        -moz-background-size: 133px 280px;
        background-size: 133px 280px;
        height: 280px;
        width: 133px
    }

    @media all and (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
        .work #finance  .workSectionExample .iPhone {
            /*background: url(../images/gigsterIphone@2x.png);*/
            -webkit-background-size: 133px 280px;
            -moz-background-size: 133px 280px;
            background-size: 133px 280px
        }
    }
}

.work #portfolio {
    display: none
}

@media only screen and (min-width: 640px) {
    .work #portfolio {
        display: block
    }
}

@media only screen and (min-width: 920px) {
    .work #portfolio .workSectionInfo {
        float: left
    }
}

.work #portfolio .workSectionExample {
    position: relative
}

@media only screen and (min-width: 920px) {
    .work #portfolio .workSectionExample {
        float: right
    }
}

.work #portfolio .workSectionExample .macBookPro {
    /*background: url(../images/bopMacBookProFlat.jpg) center 0 no-repeat;*/
    width: 600px;
    height: 311px
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
    .work #bop .workSectionExample .macBookPro {
        /*background-image: url(../images/bopMacBookProFlat@2x.jpg);*/
        -webkit-background-size: 600px 311px;
        -moz-background-size: 600px 311px;
        background-size: 600px 311px
    }
}

.work #portfolio .workSectionExample .iPhone {
    /*background: url(../images/bopIphoneFlatLg.jpg);*/
    width: 267px;
    height: 560px;
    top: 50px;
    left: 0
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
    .work #portfolio .workSectionExample .iPhone {
        /*background: url(../images/bopIphoneFlatLg@2x.jpg);*/
        -webkit-background-size: 267px 560px;
        -moz-background-size: 267px 560px;
        background-size: 267px 560px
    }
}

@media only screen and (min-width: 640px) {
    .work #portfolio .workSectionExample .iPhone {
        /*background: url(../images/bopIphoneFlat.png);*/
        -webkit-background-size: 133px 280px;
        -moz-background-size: 133px 280px;
        background-size: 133px 280px;
        height: 280px;
        width: 133px
    }

    @media all and (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
        .work #portfolio .workSectionExample .iPhone {
            /*background: url(../images/bopIphoneFlat@2x.png);*/
            -webkit-background-size: 133px 280px;
            -moz-background-size: 133px 280px;
            background-size: 133px 280px
        }
    }
}



.footer {
    width: 100%;
    float: left;
    height: auto;
    bottom: 0;
    /*margin-top: 15px;*/
    padding-top: 25%;
    /*padding-bottom: 30px;*/
    background: #fafafa;
    /*border: 1px solid #242424;*/
    z-index: 10;
    transition: left .4s ease;
    position: fixed;
    color: transparent;
    -webkit-transition: left .4s ease;
    -moz-transition: left .4s ease;
    -o-transition: left .4s ease;
}

.footer.nav-open {
    left: -235px
}


/*mobile size*/
@media only screen and (min-width: 850px) {
    .footer {
        position: fixed
    }
}

@media only screen and (min-width: 1450px) {
    .footer .inner {
        width: 1400px;
        margin: 0 auto
    }
}


/*---------Header Logo-----------*/

.footer .copyright{
    float: left;
    text-align: left;
    color: #fff;
    cursor: pointer;
}
@media only screen and (min-width: 850px) {
    .footer .copyright {
        width: 75%;
    }
}
.footer .copyright .nLogoWrapper {
    width: 90px;
    height: 40px;
    float: left
}

.footer .copyright .footer-copyright {
    float: left;
    margin-top: 10px;
    font-family: Karla, sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: left;

}

.footer .copyright .footer-div {
    font-family: Karla, sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    width: 65%;
    margin-top: 10px;
    float: left;
    margin-left: 30px;
}


.footercontainer {
    height: 60px;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: transparent;
    background-color: #242424;
}


