@import "globals";

.intro {
  padding: 100px 70px 100px 70px;
  width: 100%;
  height: 100%;
  display: inline-block;
  justify-content: space-between;

  @include xl-monitor {
    width: 100%;
    padding: 200px 150px 0 150px;
  }

  @include monitor {
    padding: 150px 120px 0 120px;
  }

  @include fifteen {
    padding: 35% 80px 0 80px;
  }

  // One-Page
  @include thirteen {
    padding: 100px 75px 150px 75px;
  }

  @include desktop {
    display: block;
    padding: 15% 100px 0 100px;
  }

  @include little-desktop {
    display: block;
    padding: 15% 75px 0 75px;
  }
  @include tablet {
    display: 100%;
    padding: 15% 50px 75px 50px;
  }
  @include weird-medium {
    height: 100vh;
    padding: 120px 70px;
  }
  @include phablet {
    height: 100vh;
    padding: 120px 50px;
  }
  @include mobile {
    height: 100vh;
    padding: 65% 0;
  }
  @include small-mobile {
    height: 100vh;
    padding: 70% 0;
  }
  @include tiny-mobile {
    height: 100vh;
    padding: 55% 0;
  }


  &__hello, &__tagline {
    font-size: 2.25rem;

    @include xl-monitor {
      font-size: 2.75rem;
    }
    @include monitor {
      font-size: 2.25rem;
    }
    @include fifteen {
      font-size: 2rem;
    }

    @include desktop {
      font-size: 2rem;
    }
    @include tablet {
      font-size: 2.5rem;
    }
    @include phablet {
      font-size: 1.75rem;
    }
    @include mobile {
      font-size: 1.2rem;
    }
    @include small-mobile {
      font-size: 1.2rem;
    }
    @include tiny-mobile {
      font-size: 1.2rem;
    }

    .emoji {
      width: 40px;
      height: 40px;
      @include xl-monitor {
        width: 55px;
        height: 55px;
      }

      @include monitor {
        width: 45px;
        height: 45px;
      }

      @include fifteen {
        width: 40px;
        height: 40px;
      }

      @include desktop {
        width: 45px;
        height: 45px;
      }
      @include tablet {
        width: 45px;
        height: 45px;
      }
      @include mobile {
        width: 25px;
        height: 25px;
      }
      @include small-mobile {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__hello {
    font-weight: 300;
    margin-bottom: 25px;
    @include xl-monitor {
      font-size: 64px;
    }
    @include monitor {
      font-size: 56px;
      margin-bottom: 45px;
    }

    @include fifteen {
      font-size: 48px;
      margin-bottom: 45px;
    }

    @include desktop {
      font-size: 56px;
      margin-bottom: 15px;
    }
    @include tablet {
      font-size: 56px;
      margin-bottom: 15px;
    }
    @include mobile {
      font-size: 32px;
    }
    @include small-mobile {
      font-size: 30px;
    }
    @include tiny-mobile {
      font-size: 28px;
    }
    .wave-hand {
      background-image: url('../../img/emojis/wave.png');
      margin-left: 10px;
      cursor: pointer;

      @include mobile {
        margin-left: 0;
      }
      &.animated {
        animation-duration: 1s;
        animation-fill-mode: both;
      }
      &.wave {
        animation-name: wave;
      }

      @keyframes wave {
        from {
          transform: none;
        }
        15% {
          transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
        }
        30% {
          transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
        }
        45% {
          transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
        }
        60% {
          transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
        }
        75% {
          transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
        }
        to {
          transform: none;
        }
      }
    }
  }

  &__tagline {
    font-weight: 300;
    margin-bottom: 50px;

    @include xl-monitor{
      width: 100%;
    }
    @include monitor {
      font-size: 32px;
    }
    @include fifteen {
      font-size: 24px;
    }
    @include desktop {
      padding-right: 50px;
      font-size: 28px;
    }
    @include mobile {
      padding-right: 15px;
      font-size: 17px;
    }

    @include tiny-mobile {
      font-size: 15px;
    }

    .name {
      font-weight: 700;
    }

  }

  &__contact {
    font-size: 1.25rem;
    font-weight: 400;
    @include xl-monitor{
      font-size: 1.5rem;
    }

    @include monitor{
      font-size: 1.2rem;
    }

    @include fifteen{
      font-size: 1rem;
    }
    @include phablet {
      font-size: 1rem;
    }

    @include mobile {
      margin-top: -25px;
      font-size: .8rem;
    }

    @include small-mobile {
      margin-top: -25px;
      font-size: .7rem;
    }

    .emoji {
      &.pointer {
        background-image: url('../../img/arrow.png');
        width: 15px;
        height: 15px;
        margin: 0 5px;
        vertical-align: text-bottom;
        @include phablet {
          width: 15px;
          height: 15px;
        }
        @include mobile {
          width: 12px;
          height: 12px;
        }
      }
    }
    .highlight-link {
      @include transition;
      font-weight: 400;
      text-decoration: none;
      display: inline-block;
      padding: 2px 3px;
      border-bottom: solid 2px $yellow;
      &:hover {
        box-shadow: inset 0 -33px 0 0 $yellow;
        color: $white;
      }
    }
  }
}
