@import "globals";
.Skills {
  @include monitor{
    margin-top: 25px;
  }
  @include fifteen{
    margin-top: -75px;
  }

  @include tablet{
    margin-top: -50px;
  }
  .skills {
    display: flex;
    justify-content: space-between;
    @include weird-medium {
      flex-wrap: wrap;
    }
    &__category {
      @include weird-medium {
        width: 47%;
        margin-right: 5px;
        margin-bottom: 25px;
      }
      &__label {
        font-weight: 700;
        color: $black;
        text-transform: uppercase;

        @include xl-monitor {
          font-size: 1.4rem;
        }

        @include monitor{
          font-size: 1.1rem;
          padding-bottom: 5px;
        }
        @include fifteen{
          font-size: 0.9rem;
          padding-bottom: 5px;
        }
      }
      &__item {
        margin: 3px 0;
        font-size: 0.9rem;
        @include xl-monitor {
          font-size: 1.2rem;
        }
        @include monitor{
          font-size: 16px;
        }
        @include fifteen{
          font-size: 0.9rem;
        }
      }
    }
  }
}
