<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I’m currently completing my Master Degree in Software Engineering at
      <a class="underline-link" href="https://www.stthomas.edu/" target="_blank">University of St. Thomas</a>
      building things for the web and applications.
      I graduated from <a class="underline-link" href="https://www.bemidjistate.edu/" target="_blank">Bemidji
      State University</a> with B.S in Design.
    </p>

    <p>
      As a software engineer, I enjoy bridging the gap between engineering and design &mdash; combining my technical knowledge
      with my keen eye for design to create a beautiful product. I focus primarily on building, prototyping and implementing user interfaces that are usable and scalable for any web-based platform.
      <a href="https://codepen.io/ah_nguyen0208" target="_blank" class="underline-link">I enjoy experimenting</a>,
      <a href="https://github.com/anguyen0208" target="_blank" class="underline-link">building and trying</a> out new tools.</p>
    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably camping, researching new local
      restaurants, building LEGO, or crossing off another item on my bucket list and share photos on <a
            href="https://www.instagram.com/ah_nguyen0208" target="_blank" rel="noopener noreferrer"class="underline-link">Instagram</a>.
    </p>

     {% include employment-status.html %}
  </div>
</section>
