<section class="section Skills">
	<div class="section__content">
		<div class="section__title">Skills</div>
		<div class="skills">

			<!--	Languages		-->
			<div class="skills__category">
				<div class="skills__category__label">Languages</div>
				<ul>
					{% for language in site.data.skills.languages %}
					<li class="skills__category__item">{{language.item}}</li>
					{% endfor %}
				</ul>
			</div>

			<!--	Frameworks		-->
			<div class="skills__category">
				<div class="skills__category__label">Frameworks</div>
				<ul>
					{% for framework in site.data.skills.frameworks %}
					<li class="skills__category__item">{{framework.item}}</li>
					{% endfor %}
				</ul>
			</div>

			<!--	Design		-->
			<div class="skills__category">
				<div class="skills__category__label">Design</div>
				<ul>
					{% for thing in site.data.skills.design %}
					<li class="skills__category__item">{{thing.item}}</li>
					{% endfor %}
				</ul>
			</div>

			<!--	Tools		-->
			<div class="skills__category">
				<div class="skills__category__label">Tools</div>
				<ul>
					{% for tool in site.data.skills.tools %}
					<li class="skills__category__item">{{tool.item}}</li>
					{% endfor %}
				</ul>
			</div>

		</div>
	</div>
</section>

